@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.navBg a{
  color: #000 !important;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}

.mycard h2 {
  font-family: 'Grand Hotel', cursive;
}

.card__auth{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}